.stage {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 1);
    max-width: 282px;
    width: 100%;
    background-color: rgba(235, 236, 240, 1);
    margin: 25px 19px 0px 19px;
}